.site-table {
  border: 2px solid green;
  width: 50%;
}

.site-table > tr > td {
  border: 2px solid green;
}

.container {
  width: 1250px;
  margin: 200px auto;
}

th,
td {
  text-align: center;
  padding: 5px 0;
}

.body {
  font-family: sans-serif;
  text-transform: capitalize;
  background: rgb(17, 10, 138);
  background: linear-gradient(
    249deg,
    rgba(17, 10, 138, 1) 2%,
    rgba(69, 69, 121, 1) 53%,
    rgba(13, 117, 246, 1) 100%
  );
}

.table2 {
  width: 50%;
  border-collapse: collapse;
  color: aliceblue;
}

tr > th {
  padding: 8px;
}
.table2__head > tr > th {
  background-color: #434c7c;
}
tr > td {
  padding: 8px;
}

.table2__body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    249deg,
    rgba(255, 255, 255, 0.4220281862745098) 4%,
    rgba(255, 255, 255, 0.47524947478991597) 53%,
    rgba(255, 255, 255, 0.47524947478991597) 93%
  );
}

a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 80px;
  margin-top: 25px;
  background-color: orange;
  border: 1px solid green;
  border-radius: 8px;
  padding: 7px 15px;
}

.container {
  display: flex;
  flex-direction: column;
}

.table2__link {
  text-align: center;
  display: inline-block;
  width: 80px;
  margin-top: 25px;
  background-color: #434c7c;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 7px 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
}

.back {
  transform: rotate(180deg);
}
